
/* overall styling */
body {
    background-color: #f8f8f8;
    font-family: arial;
}

p {
    font-family: monospace;
}

h1 {
    padding-top: 10px;
text-decoration: none;
    font-size: x-large;
    text-transform: uppercase;
}

h2, label {
    padding-top: 10px;
    text-decoration: none;
    font-size: large;
}



/* nav bar styling */
.nav-main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(174, 235, 176);
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
}

.nav-main ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15%;
}

.nav-main ul li {
    list-style: none;
    line-height: 60px;
}

.nav-main ul li a {
    display: block;
    height: 100%;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: x-large;
    cursor: pointer;
}

.nav-main ul li .first-button {
    padding-left: 0;
}



/* main content styling */
.main-content {
    padding: 70px 15% 0px 15%;
    font-size: large;
}

.main-content .tab-input {
    display: block;   
    padding: 5% 10% 50% 5%;
    border: 0.5px solid black;
    border-radius: 1%;
}

/* styling for tab segment creation */
.main-content .tab-input .tab-segment-creator {
    float: left;
}

.main-content .tab-input .tab-segment-creator input[type=number] {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
    cursor: text;
}

.main-content .tab-input .tab-segment-creator input[type=button] {
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px 5px 3px 5px;
    background-color: rgb(174, 235, 176);
}

/* unfinished feature: ability to enter any width 
.tab-segment-value-input .width-selector input[type=number] {
    border: 0.5px solid black;
}*/

/* styling for tab writing field */
.main-content .tab-input .full-tab-creator {
    float: right;
}

.main-content .tab-input .full-tab-creator textarea {
    background-color: white;
    border: 0.5px solid black;
    border-radius: 1%;
    font-family: monospace;
}

input[type=radio] {
    appearance: radio;
}










/* HIDE ARROWS IN INPUT BOXES */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}