
/* overall styling */
body {
    background-color: #F1F1F1;
    font-family: arial;
}

p {
    font-family: monospace;
}

h1 {
    padding-top: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: large;
}



/* nav bar styling */
.nav-main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
}

.nav-main ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15%;
}

.nav-main ul li {
    list-style: none;
    line-height: 60px;
}

.nav-main ul li a {
    display: block;
    height: 100%;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: x-large;
    cursor: pointer;
}

.nav-main ul li .first-button {
    padding-left: 0;
}



/* main content styling */
.main-content {
    padding: 70px 15% 0px 15%;
}

.main-content .tab_interactive {
    display: block;    
}

.main-content .tab_interactive input[type=number] {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
    cursor: text;
}

.main-content .tab_input input[type=button] {
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px 5px 3px 5px;
    background-color: darkkhaki;
    border-radius: 5px;
}

.tab_input .width-selector input[type=number] {
    border: 0.5px solid black;
}

input[type=radio] {
    appearance: radio;
}










/* HIDE ARROWS IN INPUT BOXES */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}