
/* overall styling */
body {
    background-color: #f8f8f8;
    font-family: arial;
    scroll-behavior: smooth;
}

p {
    font-family: monospace;
}

h1 {
    padding-top: 10px;
    text-decoration: none;
    font-size: x-large;
    text-transform: uppercase;
}

h2, label {
    text-decoration: none;
    /* font-size: large; */
}



/* nav bar styling */
.nav-main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(174, 235, 176);
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
}

.nav-main ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15%;
}

.nav-main ul li {
    list-style: none;
    line-height: 60px;
}

.nav-main ul li a {
    display: block;
    height: 100%;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: x-large;
    cursor: pointer;
}   

.nav-main ul li .first-button {
    padding-left: 0;
}






/* main content styling */
.main-content {
    padding: 70px 15% 5px 15%;
    font-size: large;
}

.main-content .tab-input {
    display: flex;   
    justify-content: space-between; /* set children's horizontal spacing */
    align-items: space-around; /* set children's vertical spacing */
    flex-wrap: wrap;
    align-content: space-around; /* set children's vertical spacing when wrapping*/

    padding: 5% 10% 5% 10%;
    border: 0.5px solid black;
    border-radius: 10px;
    /* width: 100%; */
    align-items: stretch; /* set children to fill height */
}





/* tab creation section general styling */
input[type=radio] {
    appearance: radio;
}

.main-content input[type=button] {
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px 5px 3px 5px;
    background-color: rgb(174, 235, 176);
    margin: 0.5% 0 0.5% 0;
}




/* styling for tab segment creation */
.main-content .tab-input .tab-segment-creator {
    width: 45%;
    min-width: 250px;
    /* background-color: orangered; */
}

.main-content .tab-input .tab-segment-creator .tab-segment-value-input {
    font-family: monospace;
}

.main-content .tab-input .tab-segment-creator input[type=number] {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
    cursor: text;
}





/* styling for tab writing div and textarea */
.main-content .tab-input .full-tab-creator {
    width: 45%;
    min-width: 250px;
    /* background-color: yellowgreen; */
}

.main-content .tab-input .full-tab-creator textarea {
    background-color: white;
    width: 100%;
    height: 96%; /* attempt to get textarea to fit to bottom of div in line with the 'copy text' button */
    min-height: 400px;
    border: 0.5px solid black;
    border-radius: 10px;
    font-family: monospace;
}





/* Styling for instructions section */
.main-content #instructions {
    padding: 70px 15% 50% 15%;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 10px;
    margin-bottom: 5%;
}











/* HIDE ARROWS IN INPUT BOXES */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}